.footer {
  color: #FFA451;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  text-align: center;
  position: fixed;
  height: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.footer-label {
  font-size: small;
  float: left;
  width: 80px;
}
